// 小程序特有样式

dui-space {
    width: 100%;
}

dui-button,
dui-grid-item,
dui-cell,
dui-checkbox,
dui-radio,
dui-swiper,
dui-image,
dui-icon {
    display: contents;
}



dui-picker {
    :deep(.dui-popup-container-content) {
        background-color: $mp-picker-title-bg !important;
    }
}

@media (prefers-color-scheme: dark) {
    picker-view-column {
        background-color: $color-bg-secondary !important;
    }
}